.projects {
    max-width: 100%;
    position: block;
}

#container-portfolio {
    padding-top: 40px;
}

.card-body {
    font-size: small;
}

.portfolio-title {
    text-align: center;
    /* margin-bottom: -185px; */
    font-size: 45px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card:hover {
    opacity: 0.7;
}

.p-skills {
    font-size: 64px;
}

.card {
    border: none;
}