.skills {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
    display: block;
    max-width: 70%;
    font-size: 64px;
    text-align: center;
}

#container-skills {
    padding-top: 20px;
}

.p-skills {
    font-size: 36px;
}