.skills {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
    display: block;
    max-width: 70%;
    font-size: 64px;
    text-align: center;
}

.p-skills {
    font-size: 45px;
    margin-bottom: -140px;
}

/* #fa-html5 {
    font-size: 100px;
}

#css {
    font-size: 100px;
}

#javascript {
    font-size: 100px;
}

#bootstrap {
    font-size: 100px;
}

#github {
    font-size: 100px;
}

#brain {
    font-size: 100px;
} */